.header { 
    background: #F0BA7D;
    width: 100%;
    font-size: 2em;
   }
   .sticky{
       position: sticky;
       top:0;
       font-size: large;
       background-color: aqua;
       height: 50px;
       text-align: center;
       padding-top:10px;
   }